.navigations {
  &_list {
    gap: 152px;
    display: flex;
    padding: 0;
    margin: 0;
    &__item {
      list-style: none;
      margin: 0;
      display: flex;

      .link {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
