.navigations {
  font-family: Roboto;
  font-size: 18px;
  &-mobile{
    display: flex;

  }
  &_list {
    gap: 152px;
    display: flex;
    padding: 0;
    @media (max-width: 870px) {
      gap: 20px;
    }
    &__item {
      list-style: none;
      margin: 0;
      display: flex;

      .link {
        text-decoration: none;
        color: #000;
      }
    }
  }
  @media (max-width: 870px) {
    display: none;
    flex-direction: column;
    &_list{
      flex-direction: column;
      font-family: Roboto;
      font-size: 18px;
      gap: 77px;
      margin-bottom: 77px;
    }
  }
}
